<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/8ded689b95.js" crossorigin="anonymous"></script>
    <title>Layout</title>
</head>

<body>
    <main class="redBox">
        <header class="purpleBox">

            <h1>Zafari</h1>

        </header>
        <section class="lightBlueBox">

            <aside class="lightGreenBox">

                <Ul>
                    <i class="fab fa-galactic-republic" id="li-home"> Home</i><br>
                    <i class="fas fa-jedi" id="li-zpotify">  Zpotify</i><br>
                    <i  class="fab fa-galactic-senate"id="li-wsp"> WhatZapp</i>
                </ul>

            </aside>

            <main class="blueBox">
                <header class="orangeBox">
                    <p id=nombre-pagina>Home</p>
                </header>
                <div class="magentaBox"> 

                    <Iframe id= "contenido-dinamico" src="../Home/index.html" frameborder="0" height="100%" width="100%"> </Iframe>

                </div>
            </main>
            
        </section>

    </main>

     <script src="./index.js"></script>
</body>

</html>