body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
}

.redBox {

    border: 0.01px solid ;
    width: 1440px;
    height: 1024px;
    grid-template-columns: 225px 790px;
}

.purpleBox {

    border: 0.1px solid ;
    background: #333333;
    box-sizing: border-box;
    height: 230px;
    width: 1450px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #ffffff;
    text-align: center;


}

.lightBlueBox {
    display: grid;
    background: #FFFFFF;
    border: 0.01px;
    box-sizing: border-box;
    width: 1440px;
    height: 799px;
    grid-template-columns: 428px 993px;

}

.lightGreenBox {
display: grid;
    width: 428px;
    height: 789px;
    background: #C3F1FF;
    border: 0.001px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 25px;
    line-height: 56px;
    text-align: justify;
    padding-left: 10px;

    color: #000000;
    align-items: center;
}

.blueBox {
    display: grid;
    grid-template-rows: 176px 593px;
    width: 1002px;
    height: 789px;

    background: #FFFFFF;
    border: 0.01px;
    box-sizing: border-box;


}


.orangeBox {

    width: 992px;
    height: 176px;
    background: #FFFFFF;
    border: 0.01px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}

.magentaBox {

    width: 992px;
    height: 603px;

    background: #FFFFFF;
    border: 0.01px;
    box-sizing: border-box;


}